@import "Header";
@import "Navbar";
@import "Forms";
@import "Panels";
@import "MessageBox";

html {
	font-size: 10px;
}

body {
	background: $back-color !important;
	color: $primary-text-color !important;
	font:
		1.6em "Segoe UI",
		tahoma,
		arial,
		helvetica,
		sans-serif !important;
	margin: 1em !important;
	padding: 0 !important;
}

.ExecutionTimeFooter {
	position: block;

	border-top: $primary-border;
	text-align: center;
	margin-top: 1em;
	padding-top: 0.3em;
}

div.Http404MessageBox {
	color: $primary-color-colorized-text;
	padding: 4em 2em;
}

a {
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	color: $primary-color-active;
}

.text-center {
	text-align: center;
}
