@import "Header";
@import "Footer";
@import "Navbar";
@import "Forms";
@import "Panels";
@import "MessageBox";

html {
	font-size: 10px;
}

body {
	background: $back-color !important;
	color: $primary-text-color !important;
	font:
		1.6em "Segoe UI",
		tahoma,
		arial,
		helvetica,
		sans-serif !important;
	margin: 1em !important;
	padding: 0 !important;
}

a {
	color: $primary-color;
	text-decoration: none;
}

a:hover {
	color: $primary-color-active;
}

.text-center {
	text-align: center;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 24px;
	line-height: 1.1;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}
