@import "Variables";

div.MessageBox {
	padding: 4em;
	font-size: 1.4em;
	text-align: center;
}

div.inline-message-box {
	padding: 0.5em;
}

div.inline-error-message-box {
	@extend .inline-message-box;
	color: #ff4753;
}

div.Http404MessageBox {
	color: $primary-color;
	padding: 4em 2em;
}
