@import "Variables";

div.navbar {
	min-height: 50px;
	margin-bottom: 20px;

	border: 0;
	border-radius: 0;

	background: $primary-color;
	color: $primary-color-opposite;

	box-shadow: $no-box-shadow;

	ul {
		margin: 0;
		padding: 0;

		li {
			display: block;
			position: relative;
			float: left;
		}
	}

	a {
		display: block;
		position: relative;

		padding: 15px;

		line-height: 20px;

		color: $primary-color-opposite !important;
	}

	a:hover {
		background-color: $primary-color-active !important;
	}

	ul.navbar-right {
		float: right;
	}

	.navbar-text {
		display: block;
		position: relative;

		margin: 0;
		padding: 15px;

		line-height: 20px;
	}
}
