@import "Variables";

.navbar {
	background: $primary-color;
	color: $primary-color-opposite;
	border: 0;
	border-radius: 0;
	box-shadow: $no-box-shadow;
	padding: 0;

	a,
	.navbar-text,
	.navbar-brand {
		display: block;
		color: $primary-color-opposite !important;
		padding: 15px 15px;
		text-decoration: none;
		margin: 0;
	}

	a:hover,
	.navbar-toggle:hover,
	.navbar:focus {
		background-color: $primary-color-active !important;
	}

	.navbar-toggle {
		background-color: $primary-color !important;
	}

	.icon-bar {
		background-color: $primary-color-opposite !important;
	}
}
