body {
	font: 1em 'Segoe UI', tahoma, arial, helvetica, sans-serif;
	margin: 0;
	padding: 0;

	background: #e8e8e8;
	color: #252727;
}

h1 {
	padding-bottom: 20px;
	margin: 0;

	font-size: 5em;
	font-weight: normal;

	text-align: center;
	color: #dc5f33;
}

h2 {
	margin: 0 0 15px;
	font-size: 2em;
	font-weight: normal;
	color: #dc5f33;
}

.container {
	height: 100vh;
}

.left-panel {
	padding: 20px;

	background-color: #c9c9c9;
}

.right-panel {
	padding: 15px 20px 20px;
}

img.warning {
	vertical-align: middle;
	margin-bottom: 0.15em
}

.footer {
	color: #dc5f33;
}

.code-panel {
	padding: 10px 15px;
	margin-bottom: 20px;
	border: 1px solid #c5c5c5;
	border-radius: 4px;
	background-color: #d6d6d6;
}

@media only screen and (min-width: 640px) {
	.aligner-container {
		display: table;
		width: 100%;
	}

	.aligner-left {
		display: table-cell;
		text-align: right;
		vertical-align: top;
	}

	.aligner-right {
		display: table-cell;
		text-align: left;
		vertical-align: top;
	}

	.left-panel {
		width: 25%;
	}

	.right-panel {
		width: 75%;
	}
}