<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>HTTP 500 - Runtime error</title>
	{Style}
</head>

<body>
	<div class="container aligner-container">
		<div class="left-panel aligner-left">
			<h1>
				HTTP 500
			</h1>
		</div>
		<div class="right-panel aligner-right">
			<h2>Internal Server Error</h2>
			{ExceptionDetails}
			<div class="footer">Simplify.Web {Simplify.Web.Version}</div>
		</div>
	</div>
</body>
</html>